<div class="wrapper card custom-scrollbar--fade fade">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim pulvinar tincidunt. Cras tempus
    dolor vitae purus porttitor, non auctor ligula venenatis. Cras volutpat dictum justo non ornare. Curabitur
    ac turpis arcu. In blandit, lacus id tempus ornare, dui enim facilisis ex, et malesuada risus lacus nec
    dolor. Aenean sed ligula non purus feugiat ultricies. Proin accumsan quis lacus sit amet gravida.

    Ut aliquet porta turpis in tincidunt. Suspendisse venenatis sodales nibh sed pulvinar. Duis a tortor ante.
    Cras vel dolor efficitur justo ultricies gravida. Phasellus ac pretium risus. Aenean suscipit est non sapien
    varius condimentum. In gravida vehicula mauris, at semper purus interdum sit amet. Curabitur dapibus
    ultricies risus eget bibendum. Vestibulum luctus a nulla id viverra. Morbi quam ipsum, pharetra vel vehicula
    non, blandit sed urna. Nunc nunc lorem, semper vitae rutrum in, molestie ut velit. In porttitor, ex sit amet
    blandit aliquam, sapien leo ultricies mi, ac tincidunt metus magna vel est. Vestibulum id metus quis dui
    vestibulum dignissim.

    Sed molestie libero ac blandit scelerisque. Aliquam sem urna, lobortis at finibus eu, luctus id urna. Aenean
    iaculis nisl sit amet mollis tempor. Vivamus congue risus augue, non tristique risus hendrerit vitae. Cras
    sed cursus ex, vitae lobortis arcu. Cras ac felis eu elit tincidunt auctor nec eu lorem. Pellentesque
    elementum cursus rhoncus. Suspendisse pulvinar ultrices tortor, et imperdiet nisl ornare eu. Nulla
    pellentesque justo id justo luctus, eu tristique nisi maximus. Aenean vitae vehicula elit, at pharetra urna.

    Praesent rhoncus, lectus vel congue vehicula, risus leo accumsan ipsum, at mattis turpis tortor nec felis.
    Curabitur dictum turpis tellus, quis congue libero vestibulum a. Pellentesque fringilla purus massa, sit
    amet dapibus nisl cursus in. Donec bibendum placerat eros id blandit. Duis luctus lectus ac sodales finibus.
    Duis mattis mollis lacus sit amet aliquet. Cras dapibus ipsum vitae fringilla interdum. Cras et interdum mi.
    Donec sed ipsum vel urna euismod commodo.

    Nulla ut pulvinar ex, sit amet hendrerit tortor. Pellentesque id aliquet libero. Ut elementum posuere libero
    in rhoncus. Vivamus eleifend venenatis scelerisque. Sed rutrum imperdiet tortor id pulvinar. Donec nibh
    metus, lacinia ac eleifend non, tincidunt eget lectus. Morbi ullamcorper placerat dui, in consequat lectus
    faucibus in. Nam augue leo, sagittis eget ipsum at, aliquet sagittis neque. Nulla condimentum, nibh eget
    ultricies consequat, libero dui consectetur quam, quis congue erat velit vel nunc. Morbi vel velit luctus,
    tristique sem tristique, feugiat quam. Maecenas tempor condimentum dui. Nullam a tortor ut nulla dapibus
    cursus vel sed erat. Aenean facilisis tincidunt nisl at aliquet. Mauris nec neque aliquam, accumsan sem
    eget, sollicitudin erat. Sed ornare ipsum ex, sed bibendum diam commodo quis. Sed mi turpis, convallis a est
    ut, tincidunt iaculis mauris.
</div>